django==3.1.6
django-filter==2.4.0
django-cors-headers==3.4.0
djangorestframework==3.12.2
jsonfield==3.1.0
joblib==1.0.1
dask[complete]==2021.1.0
distributed==2021.1.0
pandas==1.4
numpy==1.21.0
dask-ml==1.7.0
elasticsearch==7.11.0
Sphinx==3.5.2
pytest==6.2.2
scikit-learn==0.23.2
python-dotenv==0.18.0
django-rest-knox==4.1.0
redis==3.5.3
redisco==0.1.4
psycopg2==2.9.1
drf-spectacular==0.20.2 
django-docs==0.3.1
pyodbc==4.0.35
mysql-connector==2.2.9
jinja2==3.0.3